:root {
    --el-border-color: rgb(196, 196, 196);
    --el-color-primary: rgb(20, 20, 20);
    --el-color-primary-light-3: rgb(50, 50, 50);
    --el-color-primary-light-5: rgb(90, 90, 90);
    --el-color-primary-light-7: rgb(130, 130, 130);
    --el-color-primary-light-8: rgb(180, 180, 180);
    --el-color-primary-light-9: rgb(225, 225, 225);
    --el-color-primary-dark-2: rgb(80, 80, 80);
}
